<script lang="js">
  import '../app.css';
  
  import { page } from '$app/stores';
  
  import { Opensourceinitiative } from 'svelte-simples';
  
  import {
    Navbar,
    NavUl,
    NavLi,
    NavThemeToggle
  } from '$lib/components/navbar';
  
  import {
    Footer,
    FooterAbout,
    FooterLinkGroup,
    FooterLinkGroupItem
  } from '$lib/components/footer';
  
  import {
    routes,
    socials
  } from '$lib/data';
</script>

<svelte:head>
  <title>Ashvith Shetty | {$page.data.title}</title>
</svelte:head>

<div
  class="flex flex-col
	relative h-full"
>
  <Navbar
    class="bg-neutral-100
	dark:bg-neutral-900"
    containerClass="p-4
    	max-w-screen-md
    	mx-auto"
  >
    <NavUl class="space-x-4">
      {#each routes as { name, href, icon }}
        <NavLi
          {href}
          class="w-12 h-12 p-2 sm:w-auto
          	flex flex-col sm:flex-row
          	justify-center items-center
          	sm:space-x-2 rounded-lg
          	text-black dark:text-white
          	hover:bg-neutral-300
          	focus:bg-neutral-300
          	dark:hover:bg-neutral-700
          	dark:focus:bg-neutral-700"
        >
          <svelte:component this={icon} size={15} />
          <span class="text-xs sm:text-base">
            {name}
          </span>
        </NavLi>
      {/each}
    </NavUl>
    <NavThemeToggle />
  </Navbar>

  <main
    class="space-y-3 grow
  	shrink-0 basis-auto
  	bg-neutral-100
  	dark:bg-neutral-900"
  >
    <div
      class="max-w-screen-md
      	mx-auto px-4"
    >
      <slot />
    </div>
  </main>

  <Footer
    class="bg-neutral-100 dark:bg-neutral-900
    	text-black dark:text-white"
  >
    <FooterAbout>
      <div
        class="flex space-x-3
	align-center
	items-center"
      >
        <Opensourceinitiative class="pointer-events-none" size={15} />
        <span
          >This project is
          <a class="text-neutral-500 underline" href="https://codeberg.org/Ashvith/portfolio"
            >open source</a
          >.
        </span>
      </div>
    </FooterAbout>
    <div
      class="flex space-x-3
      align-center
      items-center"
    >
      <span>Reach out to me on:</span>
      <FooterLinkGroup>
        {#each socials as { href, component }}
          <FooterLinkGroupItem {href}>
            <svelte:component this={component} class="pointer-events-none" size={15} />
          </FooterLinkGroupItem>
        {/each}
      </FooterLinkGroup>
    </div>
  </Footer>
</div>
