<section id="about">
  <div
    class="py-4 space-y-3
    	text-black dark:text-white"
  >
    <header class="text-4xl font-bold">Hello, I'm Ashvith Shetty!</header>
    <div class="text-base space-y-3">
      <p>
        I am a CS graduate from Kudla, India. I love fiddling around with
        soft synths, contributing to cool open-source projects, as well as playing
        traditional JRPGs.
      </p>
      <p>
        Lately, I've taken a liking to declarative package managers, and right now, I'm
        enjoying my experience with NixOS. I would love to contribute to the GNU Hurd
        project in the future.
      </p>
      <p>
        Right now, I'm in the process of upskilling myself, learning about
        software development and best practises. I have also challenged to teach
        myself a purely functional programming language as well as
        microkernel basics.
      </p>
      <p>
        Interested in learning more about me? You should
        <a
          class="underline text-neutral-500"
          href="https://gitlab.com/Ashvith/resume/-/raw/main/resume.pdf">check out my resume</a
        >.
      </p>
    </div>
  </div>
</section>
