<script lang="js">
  import { ListGroup, ListGroupItem } from '$lib/components/listgroup';
  import { Card } from '$lib/components/card';
  import { bio } from '$lib/data';
</script>

<section id="bio">
  <div
    class="flex flex-col sm:flex-row py-4
    	space-y-3 sm:space-y-0 sm:space-x-3
    	text-black dark:text-white"
  >
    {#each bio as { title, list }}
      <div class="flex flex-col sm:flex-1 space-y-3">
        <h1 class="text-lg font-semibold">{title}</h1>
        <ListGroup
          class="h-full flex
        	flex-col space-y-3"
        >
          {#each list as { title, start_date, end_date, href, about }}
            <ListGroupItem class="flex-1">
              <Card
                {href}
                class="p-4 rounded-lg
                  border border-black
                  dark:border-white
                  hover:bg-neutral-300
                  focus:bg-neutral-300
                  dark:hover:bg-neutral-700
                  dark:focus:bg-neutral-700"
              >
                <div>
                  <p class="font-medium">{title}</p>
                  <p class="font-extralight">{start_date} &mdash; {end_date}</p>
                  <p class="font-light">{about}</p>
                </div>
              </Card>
            </ListGroupItem>
          {/each}
        </ListGroup>
      </div>
    {/each}
  </div>
</section>
