<script lang="js">
  import { ListGroup } from '$lib/components/listgroup';
  import { Badge } from '$lib/components/badge';
  import { skills } from '$lib/data';
</script>

<section id="skills">
  <div
    class="py-4 space-y-3
    	text-black dark:text-white"
  >
    <h1 class="text-lg font-semibold">Skills</h1>
    <ListGroup class="space-y-3">
      {#each skills as { title, categories }}
        <div
          class="flex gap-x-3
            	gap-y-3 flex-wrap"
        >
          <span class="font-medium">{title}:</span>
          {#each categories as { name, icon }}
            <Badge
              class="rounded-full
                	bg-neutral-300
                	dark:bg-neutral-700"
            >
              <svelte:component this={icon} />
              {name}
            </Badge>
          {/each}
        </div>
      {/each}
    </ListGroup>
  </div>
</section>
