<footer id="footer" class="shrink-0 w-full {$$props.class}">
  <div
    class="max-w-screen-md flex
	flex-wrap items-center
	justify-between mx-auto p-4
	text-sm flex-col gap-y-3
	sm:flex-row sm:gap-y-0"
  >
    <slot />
  </div>
</footer>
