<script lang="js">
  import { onMount } from 'svelte';
  import { fade } from 'svelte/transition';
  import { themeMode } from '$lib/components/navbar/data';
  import { currentTheme } from '$lib/components/navbar/store';

  let destroyMediaEventListener = null;

  const toggleTheme = () => {
    currentTheme.update((value) => {
      const keys = Object.keys(themeMode);
      const idx = (themeMode[value]['idx'] + 1) % keys.length;
      return keys[idx];
    });
    window.localStorage.setItem('theme', $currentTheme);
    setThemeStyle();
  };

  const setThemeStyle = () => {
    if (destroyMediaEventListener != null) {
      destroyMediaEventListener();
    }

    const documentElementClassList = document.documentElement.classList;

    switch ($currentTheme) {
      case 'system': {
        const checkSystemPreferenceDark = window.matchMedia('(prefers-color-scheme: dark)');
        const addThemeClass = ({ matches }) =>
          matches ? documentElementClassList.add('dark') : documentElementClassList.remove('dark');

        addThemeClass(checkSystemPreferenceDark);
        checkSystemPreferenceDark.addEventListener('change', addThemeClass);
        destroyMediaEventListener = () =>
          checkSystemPreferenceDark.removeEventListener('change', addThemeClass);
        break;
      }
      case 'light':
        documentElementClassList.remove('dark');
        break;
      case 'dark':
        documentElementClassList.add('dark');
        break;
    }
  };

  onMount(setThemeStyle);
</script>

<button
  type="button"
  class="w-12 h-12 p-2 flex
  	justify-center
        items-center rounded-lg
        text-black dark:text-white
        hover:bg-neutral-300
        focus:bg-neutral-300
        dark:hover:bg-neutral-700
        dark:focus:bg-neutral-700"
  on:click={toggleTheme}
>
  {#key $currentTheme}
    <span in:fade={{ delay: 150, duration: 150 }}>
      <svelte:component this={themeMode[$currentTheme]['icon']} size={15} />
    </span>
  {/key}
</button>
