@import '@fontsource-variable/inter-tight/wght.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		@apply h-full;
	}

	body * {
		@apply transition-colors duration-300;
	}
}
